.Tab {
  background: #cccccc;
  border: 1px solid #777777;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}
.Tab.selected {
  background: #aaaaaa;
  font-weight: 700;
}

.Tab.outlined {
  background: transparent;
  border: 1px solid #777777;
}

.Tab.outlined.selected {
  background: transparent;
  border-width: 2px;
}
